@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9578 0.0058 264.5321);
  --foreground: oklch(0.4355 0.043 279.325);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.4355 0.043 279.325);
  --popover: oklch(0.8575 0.0145 268.4756);
  --popover-foreground: oklch(0.4355 0.043 279.325);
  --primary: oklch(0.5547 0.2503 297.0156);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8575 0.0145 268.4756);
  --secondary-foreground: oklch(0.4355 0.043 279.325);
  --muted: oklch(0.906 0.0117 264.5071);
  --muted-foreground: oklch(0.5471 0.0343 279.0837);
  --accent: oklch(0.5547 0.2503 297.0156);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.5505 0.2155 19.8095);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8083 0.0174 271.1982);
  --input: oklch(0.8575 0.0145 268.4756);
  --ring: oklch(0.5547 0.2503 297.0156);
  --chart-1: oklch(0.5547 0.2503 297.0156);
  --chart-2: oklch(0.682 0.1448 235.3822);
  --chart-3: oklch(0.625 0.1772 140.4448);
  --chart-4: oklch(0.692 0.2041 42.4293);
  --chart-5: oklch(0.7141 0.1045 33.0967);
  --sidebar: oklch(0.9335 0.0087 264.5206);
  --sidebar-foreground: oklch(0.4355 0.043 279.325);
  --sidebar-primary: oklch(0.5547 0.2503 297.0156);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.682 0.1448 235.3822);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.8083 0.0174 271.1982);
  --sidebar-ring: oklch(0.5547 0.2503 297.0156);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "IBM Plex Mono", monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.3);
  --shiki-color-text: oklch(0.4355 0.043 279.325);
  --shiki-color-background: oklch(0.9078 0.0058 264.5321);
  --shiki-token-constant: oklch(0.682 0.1448 235.3822);
  --shiki-token-string: oklch(0.625 0.1772 140.4448);
  --shiki-token-comment: oklch(0.5471 0.0343 279.0837);
  --shiki-token-keyword: oklch(0.5547 0.2503 297.0156);
  --shiki-token-parameter: oklch(0.4355 0.043 279.325);
  --shiki-token-function: oklch(0.682 0.1448 235.3822);
  --shiki-token-string-expression: oklch(0.625 0.1772 140.4448);
  --shiki-token-punctuation: oklch(0.5471 0.0343 279.0837);
  --shiki-token-link: oklch(0.5547 0.2503 297.0156);
}

.boring-dark,
.dark {
  --background: oklch(0.2155 0.0254 284.0647);
  --foreground: oklch(0.8787 0.0426 272.2767);
  --card: oklch(0.2429 0.0304 283.911);
  --card-foreground: oklch(0.8787 0.0426 272.2767);
  --popover: oklch(0.4037 0.032 280.152);
  --popover-foreground: oklch(0.8787 0.0426 272.2767);
  --primary: oklch(0.7871 0.1187 304.7693);
  --primary-foreground: oklch(0.2429 0.0304 283.911);
  --secondary: oklch(0.4765 0.034 278.643);
  --secondary-foreground: oklch(0.8787 0.0426 272.2767);
  --muted: oklch(0.2973 0.0294 276.2144);
  --muted-foreground: oklch(0.751 0.0396 273.932);
  --accent: oklch(0.7871 0.1187 304.7693);
  --accent-foreground: oklch(0.8787 0.0426 272.2767);
  --destructive: oklch(0.7556 0.1297 2.7642);
  --destructive-foreground: oklch(0.2429 0.0304 283.911);
  --border: oklch(0.324 0.0319 281.9784);
  --input: oklch(0.324 0.0319 281.9784);
  --ring: oklch(0.7871 0.1187 304.7693);
  --chart-1: oklch(0.7871 0.1187 304.7693);
  --chart-2: oklch(0.8467 0.0833 210.2545);
  --chart-3: oklch(0.8577 0.1092 142.7153);
  --chart-4: oklch(0.8237 0.1015 52.6294);
  --chart-5: oklch(0.9226 0.0238 30.4919);
  --sidebar: oklch(0.1828 0.0204 284.2039);
  --sidebar-foreground: oklch(0.8787 0.0426 272.2767);
  --sidebar-primary: oklch(0.7871 0.1187 304.7693);
  --sidebar-primary-foreground: oklch(0.2429 0.0304 283.911);
  --sidebar-accent: oklch(0.8467 0.0833 210.2545);
  --sidebar-accent-foreground: oklch(0.2429 0.0304 283.911);
  --sidebar-border: oklch(0.4037 0.032 280.152);
  --sidebar-ring: oklch(0.7871 0.1187 304.7693);
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "IBM Plex Mono", monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl:
    0px 4px 6px 0px hsl(240 30% 25% / 0.12),
    0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.3);
  --shiki-color-text: oklch(0.8787 0.0426 272.28);
  --shiki-color-background: oklch(0.2903 0.0226 272.28);
  --shiki-token-constant: oklch(0.7948 0.1186 64.77);
  --shiki-token-string: oklch(0.8804 0.1292 138.5);
  --shiki-token-comment: oklch(0.7481 0.0335 272.28);
  --shiki-token-keyword: oklch(0.8242 0.0989 304.77);
  --shiki-token-parameter: oklch(0.7818 0.0911 14.82);
  --shiki-token-function: oklch(0.7711 0.1066 261.02);
  --shiki-token-string-expression: oklch(0.8601 0.0881 328.71);
  --shiki-token-punctuation: oklch(0.6787 0.0279 272.28);
  --shiki-token-link: oklch(0.8741 0.0818 208.71);
}

.boring-light {
  --background: hsl(293.7 0% 92%);
  --foreground: hsl(296 0% 21%);
  --card: hsl(291 0% 97%);
  --card-foreground: hsl(240 0% 30%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(296 0% 21%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(314.7 0% 85.7%);
  --secondary-foreground: hsl(295.8 0% 34.5%);
  --muted: hsl(327.7 0% 78.7%);
  --muted-foreground: hsl(327 0% 38%);
  --accent: hsl(314.7 0% 85.7%);
  --accent-foreground: hsl(240 0% 30%);
  --destructive: hsl(270 0% 50%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(304.6 0% 90.8%);
  --input: hsl(317.4 0% 83.1%);
  --ring: hsl(260 0% 50.6%);
  --sidebar-background: hsl(290.3 0% 87.6%);
  --sidebar-foreground: hsl(240 0% 30%);
  --sidebar-primary: hsl(240 0% 30%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(60 0% 97%);
  --sidebar-accent-foreground: hsl(240 0% 30%);
  --sidebar-border: hsl(20 0% 92%);
  --sidebar-ring: hsl(260 0% 50.6%);
  --gradient-noise-top: hsl(292 0% 93.1%);
  --color-heading: hsl(260 0% 19.8%);
  --chat-border: hsl(304.8 0% 83.9%);
  --chat-background: hsl(300 0% 98%);
  --chat-accent: #f3f3f3;
  --chat-overlay: hsla(309 0% 92% / var(--blur-fallback, 0.72));
  --chat-input-gradient: hsl(295 0% 90%);
  --chat-input-background: hsla(270 0% 100% / var(--blur-fallback, 0.1));
  --wordmark-color: #666;
  --primary: hsl(270 0% 30%);
  --accent: hsl(270 0% 75%);
  --chart-1: hsl(270 0% 30%);
  --sidebar-primary: hsl(270 0% 30%);
}

.boring-dark {
  --background: hsl(313.8 0% 8.4%);
  --foreground: hsl(270 0% 97.8%);
  --card: hsl(300 0% 3.7%);
  --card-foreground: hsl(240 0% 95.9%);
  --popover: hsl(320 0% 5.1%);
  --popover-foreground: hsl(326 0% 96%);
  --primary: hsl(270 0% 80%);
  --primary-foreground: hsl(270 0% 90%);
  --secondary: hsl(273.8 0% 20.8%);
  --secondary-foreground: hsl(270 0% 83%);
  --muted: hsl(283 0% 25%);
  --muted-foreground: hsl(270 0% 69%);
  --accent: hsl(272 0% 27%);
  --accent-foreground: hsl(270 0% 96%);
  --destructive: hsl(270 0% 35.29%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(262.5 0% 15.7%);
  --input: hsl(326.3 0% 15.7%);
  --ring: hsl(260 0% 50.6%);
  --sidebar-background: hsl(240 0% 7.6%);
  --sidebar-foreground: hsl(240 0% 95.9%);
  --sidebar-primary: hsl(260 0% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(318.5 0% 12.4%);
  --sidebar-accent-foreground: hsl(240 0% 95.9%);
  --sidebar-border: hsl(0 0% 0%);
  --sidebar-ring: hsl(260 0% 50.6%);
  --gradient-noise-top: hsl(313.8 0% 8.4%);
  --color-heading: hsl(270 0% 49.8%);
  --chat-border: hsl(334.3 0% 16.9%);
  --chat-background: hsl(270 0% 12.16%);
  --chat-accent: rgba(26, 26, 26, 0.86);
  --chat-overlay: hsla(270 0% 16% / var(--blur-fallback, 0.71));
  --chat-input-gradient: hsl(289 0% 21%);
  --chat-input-background: hsla(270 0% 20% / var(--blur-fallback, 0.4));
  --wordmark-color: #cfcfcf;
  --primary: hsl(270 0% 80%);
  --accent: hsl(270 0% 60%);
  --chart-1: hsl(270 0% 80%);
  --sidebar-primary: hsl(270 0% 80%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family:
    ProximaVara,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  overscroll-behavior-y: none;
}

@media (max-width: 768px) {
  input,
  select,
  textarea {
    font-size: 16px !important;
  }
}
.button-reflect {
  --min: #4b008240 !important;
  --start: #000000d9 !important;
}

.border-reflect {
  --c: 270 100% 75%;
  --min: hsl(var(--c) / 0.2);
  --max: hsl(var(--c) / 1);
  --gradientBorder-gradient:
    linear-gradient(180deg, var(--min), var(--max), var(--min)),
    linear-gradient(15deg, var(--min) 50%, var(--max));
  --opacity: 1;
  --start: rgba(0, 0, 0, 0.85);
  position: relative;
}

.boring-dark .border-reflect,
.dark .border-reflect {
  --gradientBorder-gradient:
    linear-gradient(180deg, #9400d300, #9400d3bd, #9400d317),
    linear-gradient(15deg, #9400d31f 50%, #9400d3bd);
  --start: rgba(0, 0, 0, 0.92);
}

/* Update reflective gradient to be theme-aware */
.boring-light .border-reflect,
.boring-dark .border-reflect {
  --c: var(--primary);
  --min: hsl(var(--c) / 0.2);
  --max: hsl(var(--c) / 1);
  --gradientBorder-gradient:
    linear-gradient(180deg, var(--min), var(--max), var(--min)),
    linear-gradient(15deg, var(--min) 50%, var(--max));
}

.border-reflect:before {
  content: "";
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: var(--gradientBorder-size, 1px);
  background: var(--gradientBorder-gradient);
  -webkit-mask:
    linear-gradient(var(--start), #000) content-box,
    linear-gradient(var(--start), #000);
  mask:
    linear-gradient(var(--start), #000) content-box,
    linear-gradient(var(--start), #000);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: var(--opacity, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground) / 0.4);
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

.dark ::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground) / 0.2);
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  border: 2px solid transparent;
  background: hsl(var(--muted-foreground) / 0.5);
}

.small-scrollbar::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

.small-scrollbar[data-scrolling="true"]::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground) / 0.4);
}

.dark .small-scrollbar[data-scrolling="true"]::-webkit-scrollbar-thumb {
  background: hsl(var(--muted-foreground) / 0.2);
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  border: 1.5px solid transparent;
  background-clip: content-box;
  -webkit-background-clip: content-box;
}

.small-scrollbar::-webkit-scrollbar-thumb:hover {
  border: 1px solid transparent;
  background: hsl(var(--muted-foreground) / 0.5);
}

@supports (-moz-appearance: none) {
  .firefox-scrollbar-margin-fix {
    --firefox-scrollbar: 10px;
  }
}
.scroll-shadow:not([data-shadow="false"]) {
  --shadow-height: 20px;
  --scrollbar-width: 8px;
  mask-image:
    linear-gradient(
      to bottom,
      transparent,
      #000 var(--shadow-height),
      #000 calc(100% - var(--shadow-height)),
      transparent 100%
    ),
    linear-gradient(
      to left,
      #fff var(--scrollbar-width),
      transparent var(--scrollbar-width)
    );
  -webkit-mask-image:
    linear-gradient(
      to bottom,
      transparent,
      #000 var(--shadow-height),
      #000 calc(100% - var(--shadow-height)),
      transparent 100%
    ),
    linear-gradient(
      to left,
      #fff var(--scrollbar-width),
      transparent var(--scrollbar-width)
    );
}
@supports (not (backdrop-filter: blur())) and (not (overscroll-behavior: auto)) {
  :root {
    --blur-fallback: 1;
  }
}
@media (max-width: 767px) and (any-pointer: coarse) {
  .min-h-pwa,
  body,
  html {
    overscroll-behavior-y: none;
  }
}

#chat-input,
.edit-input {
  field-sizing: content;
}

.prose-purple {
  color: var(--color-foreground);
  strong {
    color: var(--color-foreground);
  }
  :not(pre) > code {
    font-family: var(--font-berkeley-mono);
    font-feature-settings: normal;
    font-variation-settings: normal;
    color: var(--color-foreground);
    background-color: hsl(var(--secondary) / 0.5);
    border-radius: calc(var(--radius) - 2px);
    padding: 0.25em 0.5em;
  }
}

.mark-response pre {
  background-color: var(--color-background) !important;
  padding: 1rem;
  font-size: 0.9em;
  code,
  kbd,
  pre,
  samp {
    font-family: var(--font-berkeley-mono) !important;
    font-feature-settings: normal;
    font-variation-settings: normal;
    color: var(--color-foreground);
  }
}

code {
  background-color: var(--color-background) !important;
}

.mark-response pre,
pre code {
  background-color: transparent !important;
  font-family: var(--font-berkeley-mono) !important;
  padding: 0 !important;
}

span {
  white-space-collapse: unset !important;
}

.messageLoader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow:
      20px 0 var(--color-accent),
      -20px 0 var(--color-secondary/50);
    background: var(--color-accent);
  }
  33% {
    box-shadow:
      20px 0 var(--color-accent),
      -20px 0 var(--color-secondary/50);
    background: var(--color-secondary/50);
  }
  66% {
    box-shadow:
      20px 0 var(--color-secondary/50),
      -20px 0 var(--color-accent);
    background: var(--color-secondary/50);
  }
  100% {
    box-shadow:
      20px 0 var(--color-secondary) / 50,
      -20px 0 var(--color-accent);
    background: var(--color-accent);
  }
}

/* Hide t3-tool-loader when t3-tool-output exists in the same container */
.mark-response:has(.t3-tool-output) .t3-tool-loader {
  display: none !important;
}

/* Alternative: Hide t3-tool-loader when it's followed by any sibling t3-tool-output */
.t3-tool-loader:has(~ .t3-tool-output) {
  display: none !important;
}
.t3-tool-loader:has(~ p:not(:empty)) {
  display: none !important;
}
@layer base {
  .animate-bounce-dot {
    animation: bounce-dot 1.4s infinite ease-in-out both;
  }

  .animate-delay-1 {
    animation-delay: -0.32s;
  }

  .animate-delay-2 {
    animation-delay: -0.16s;
  }
  @keyframes bounce-dot {
    0%,
    80%,
    100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }

  /* Line clamp utilities */
  .line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /* Fade gradient styles for ScrollableHorizontalFade component */
  .fade-gradient-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background: linear-gradient(
      to right,
      var(--background) 0%,
      transparent 100%
    );
    z-index: 10;
    pointer-events: none;
  }

  .fade-gradient-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background: linear-gradient(
      to left,
      var(--background) 0%,
      transparent 100%
    );
    z-index: 10;
    pointer-events: none;
  }

  .dark .fade-gradient-left {
    background: linear-gradient(
      to right,
      var(--background) 0%,
      transparent 100%
    );
  }

  .dark .fade-gradient-right {
    background: linear-gradient(
      to left,
      var(--background) 0%,
      transparent 100%
    );
  }
}
